# Database
DATABASE_URL="postgresql://postgres:password@165.227.78.164:5432/diamond_district"

# NextAuth
NEXTAUTH_URL="http://165.227.78.164:3000"
NEXTAUTH_SECRET="generate-this-with-openssl-rand-base64-32"

# Admin Account (will be created on first setup)
ADMIN_EMAIL="admin@diamonddistrict.com"
ADMIN_PASSWORD="ChangeThisPassword123!"
ADMIN_FIRST_NAME="System"
ADMIN_LAST_NAME="Administrator"
ADMIN_PHONE="+1234567890"

# GoHighLevel Private Integration API (DO NOT CHANGE)
GHL_PRIVATE_KEY="pit-5324dab3-2e4b-44e7-8159-68ec6512a8a1"
GHL_LOCATION_ID="uDZc67RtofRX4alCLGaz"

# Email (optional - leave as is if not using email)
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"
SMTP_USER="your-email@gmail.com"
SMTP_PASS="your-app-password"
SMTP_FROM="Diamond District <noreply@diamonddistrict.com>"

# Storage
VIDEO_STORAGE_PATH="/var/www/diamond-district/videos"
NEXT_PUBLIC_APP_URL="http://165.227.78.164:3000"

# Node Environment
NODE_ENV="production"

# Mux
MUX_TOKEN_ID=""
MUX_TOKEN_SECRET=""
NEXT_PUBLIC_MUX_ENV_KEY=""
# Optional: Set if you use a custom beacon domain (usually leave empty)
NEXT_PUBLIC_MUX_BEACON_DOMAIN=""
MUX_SIGNING_KEY_ID=""
MUX_SIGNING_KEY_SECRET=""